/* Colors */
$orange-1: #BF9004;
$orange-2: #ac8717;
$brawn-1: #6e5302;
$white-1: white;
$gray-1: #858585;
$gray-2: #536063a9;
$black-1: black;
$black-2: #141414;
$black-3: rgba(0, 0, 0, 0.2);
$black-4: rgba(0, 0, 0, 0.692);
$black-5: rgba(0, 0, 0, 0.8);
$black-6: rgba(0, 0, 0, 0.836);

/* Puntos de quiebre Responsive */
$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;
