$header-background-color: #BF9004;
$color-white: white;
$color-black: black;
$color-gray: #858585;
$header-button-hover-bg-color: #6e5302;
$header-divider-fill-color: #141414;
$color-blue-opacity-a9: #536063a9;
$color-goldenrod: #ac8717;
$color-black-opacity-02: rgba(0, 0, 0, 0.2);
$color-black-opacity-0692: rgba(0, 0, 0, 0.692);
$header-overlay-color: rgba(0, 0, 0, 0.8);
$color-opacity-0836: rgba(0, 0, 0, 0.836);

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para pantallas de escritorio */
@media screen and (min-width: 992px) {
    .navbar-brand img {
        height: 200px;
    }
}

/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-brand img {
        height: 150px;
    }
}

/* Estilos para teléfonos móviles */
@media screen and (max-width: 767px) {
    .navbar-brand img {
        height: 100px;
    }
}

/****** NAVBAR ******/

.collapse {
    background-color: $header-background-color;
}

.navbar-brand img {
    height: 200px;
}

.navbar-nav a {
    font-size: 25px;
    font-family: 'Contrail One', cursive;
    color: $color-white;
}

.nav-link:hover {
    color: $color-black;
}

/****** HEADER INDEX ******/
.custom-shape-divider-top-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: scaleY(-1);

    svg {
        position: relative;
        display: block;
        width: calc(100% + 100px);
        height: 50px;
    }

    .shape-fill {
        fill: $header-background-color;
    }
}

header img {
    max-width: 100%;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/logo\ final.png') no-repeat center center;
    background-size: cover;
    filter: blur(25px);
    z-index: -1;
}

/****** MAIN INDEX ******/
.custom-shape-divider-top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
        position: relative;
        display: block;
        width: calc(100% + 100px);
        height: 50px;
    }

    .shape-fill {
        fill: $header-background-color;
    }
}

.Titulo {
    margin-inline: 1px;
    margin-bottom: 40px;
    width: 100%;
    padding: 0;
}

.colorTitulo {
    padding: 10px;
    color: $color-black;
    text-align: center;
    margin-top: 50px;
    font-style: italic;
    font-size: 45px;
    font-family: 'Contrail One', cursive;
    background-color: $header-background-color;
}

.p-index {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 50px;
}

.cards-grid {
    display: flex;
    grid-gap: 80px;
    padding-bottom: 60px;
}

.flip-card {
    width: 320px;
    height: 504px;
    perspective: 2000px;

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 20px $color-black-opacity-02;
        border-radius: 28px;
        transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
        transform-style: preserve-3d;

        .flip-card-front,
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 28px;
            backface-visibility: hidden;
        }

        .flip-card-front {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .flip-card-back {
            font-size: 1.25rem;
            text-align: center;
            display: grid;
            place-items: center;
            padding: 32px;
            background-color: $color-gray;
            transform: rotateY(180deg);
        }
    }

    &:hover {
        .flip-card-inner {
        transform: rotateY(-180deg);
        }
    }
}
  
/****** HEADER EFA ******/

.header-efa {
    margin-bottom: 0px;

    .custom-shape-divider-top-efa-down {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: scaleY(-1);

        svg {
            position: relative;
            display: block;
            width: calc(100% + 100px);
            height: 50px;
        }

        .shape-fill {
            fill: $header-divider-fill-color;
        }
    }

    .header-background-efa {
        position: relative;

        .img-fluid {
            width: 100%;
            height: 800px;
        }

        .header-overlay {
            background-color: $header-overlay-color;
            height: 350px;
            width: 100%;

            .efa-text {
                position: relative;
                left: 100%;
                transform: translateX(-50%);
                margin-top: 90px;
        
                h1 {
                    text-align: center;
                    color: $color-white;
                    font-size: 40px;
                    margin-bottom: 20px;
                }
        
                p {
                    text-align: center;
                    color: $color-white;
                    font-size: 18px;
                    margin-bottom: 50px;
                }
            }
        }

        
    }

    @media (min-width: 768px) {
        .header-background-efa {
            .header-text {
                padding-top: 120px;
            }
        }
    }

    .btn-primary-efa {
        display: block;
        color: $color-white;
        margin: 0 auto;
        background-color: $header-background-color;
        width: 200px;

        &:hover {
            color: $color-white;
            background-color: $header-button-hover-bg-color;
        }
    }

    .custom-shape-divider-top-efa {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 50px;
        }

        .shape-fill {
            fill: $header-divider-fill-color;
        }
    }

    
}

/****** MAIN EFA ******/

.container-efa {
    background: $color-white;
    padding: 50px 0;

    .div-tittle {
        background-color: $color-black;
        padding: 1px;
        text-align: center;
        margin-bottom: 30px;

        .card-tittle-efa {
            font-size: 40px;
            margin-bottom: 20px;
            color: $color-white;
        }
    }

    .card-efa {
        max-width: 1200px;
        margin: 0 auto;
        background: linear-gradient(to bottom, $color-black-opacity-0692, $color-blue-opacity-a9);
        box-shadow: 0 0px 10px $color-black;
        border-radius: 5px;
        overflow: hidden;

        .card-body-efa {
            padding: 40px;
        }

        .card-text-efa {
            font-size: 1.2rem;
            line-height: 1.6;
            color: $color-white;
            text-align: justify;
        }
    }
}

/****** HEADER KEF ******/

.custom-shape-divider-top-efa-down {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: scaleY(-1);

    svg {
        position: relative;
        display: block;
        width: calc(100% + 100px);
        height: 50px;
    }

    .shape-fill {
        fill: $header-divider-fill-color;
    }
}

.header-kef {
    background-color: $color-black;
    padding: 10px;

    .div-kef {
        width: 600px;
        margin: 0 auto;
    }

    .seccion-img {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        height: 550px;
        align-items: center;

        img {
            max-width: 600px;
            flex-grow: 1;
            object-fit: cover;
            opacity: .8;
            transition: .5s ease;
            height: 550px;

            &:hover {
                width: 600px;
                height: 600px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
    }
}
.custom-shape-divider-top-efa {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 50px;
    }

    .shape-fill {
        fill: $header-divider-fill-color;
    }
}

/****** MAIN KEF ******/
.main-kef {
    background-color: $color-white;
    padding: 20px;

    .seccion-kef {
        max-width: 1000px;
        margin: 0 auto;
        padding-bottom: 100px;
        padding-top: 30px;

        h1 {
            font-size: 40px;
            margin-bottom: 30px;
            text-align: center;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            text-align: justify;
        }
    }
}
  
/****** HEADER SOBRE-MI ******/

.header {
    background-color:  $header-background-color;
    padding: 0;
  
    .text-uppercase {
      color: $color-white;
      text-align: center;
      padding: 0 30px;
    }
  
    .header-text {
      h1 {
        font-size: 40px;
        margin-bottom: 50px;
        font-style: oblique;
      }
  
      p {
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
        margin-right: 13px;
        margin-left: 13px;
        color: $color-white;
        font-style: oblique;
      }
    }
  
    .header-image {
      position: relative;
      height: 100vh; 
      overflow: hidden;
  
      img {
        position: relative;
        width: auto;
        height: auto;
        object-fit: cover;
        filter: brightness(90%);
      }
    }
}
  
/****** MAIN SOBRE-MI ******/
  
/****** MAIN CONTACTO ******/
.card {
    background-color: $color-black;
  
    &-shadow {
      box-shadow: 0 0.25rem 0.75rem  $color-goldenrod;
    }
  
    &-title-contacto {
      color: $color-goldenrod;
      font-style: italic;
      text-align: center;
      padding-bottom: 35px;
      font-family: 'Contrail One', cursive;
      font-size: 30px;
    }
  
    &-formulario {
      margin-bottom: 100px;
    }
  
    .form-label {
      color: $color-white;
    }
  
    .map-container {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 115px;
    }
  
    @media (max-width: 767px) {
      .row.d-flex.align-items-start {
        flex-direction: column;
      }
  
      .col-md-1 {
        display: none; /* Oculto la columna vacía en dispositivos móviles */
      }
  
      .map-container {
        margin-top: 0; /* Elimino el margen superior en dispositivos móviles */
      }
    }
  
    .btn-primary-contacto {
      color:$color-white;
      background-color:$header-background-color;
  
      &:hover {
        color: $color-white;
        background-color: $header-button-hover-bg-color;
      }
    }
}

/***** FOOTER ******/

.footer-one {
    background-image: url("../img/barra.jpg");
    background-size: cover;
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-opacity-0836;
    }
  
    .contact-center {
      margin-left: 120px;
    }
  
    .footer-h5,
    .footer-p1,
    .footer-p2 {
      color: $color-white;
      position: relative;
      z-index: 1;
    }
  
    .direccion,
    .telefono {
      color: $header-background-color;
    }
  
    .fa-phone,
    .fa-map-marker-alt {
      margin-right: 5px;
    }
  
    .redes {
      position: relative;
      z-index: 1;
    }
  
    .mr-instagram {
      margin: 10px;
      margin-left: 36px;
      color: $header-background-color;
      font-size: 25px;
  
      &:hover {
        color: $color-white;
      }
    }
  
    .mr-linkedin,
    .mr-telegram,
    .mr-whatsapp {
      margin: 10px;
      color: $header-background-color;
      font-size: 25px;
  
      &:hover {
        color: $color-white;
      }
    }
  
    .list-unstyled li a {
      text-decoration: none;
      color: $header-background-color;
      position: relative;
      z-index: 1;
  
      &:hover {
        text-decoration: none;
        color: $color-white;
        font-style: italic;
      }
    }
}
  
.sub-footer {
    background-color: $color-black;

    .reg {
    color: $color-white;

    em {
        color: $header-background-color;
    }
    }
}

  
