/****** HEADER INDEX ******/
.custom-shape-divider-top-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: scaleY(-1);

    svg {
        position: relative;
        display: block;
        width: calc(100% + 100px);
        height: 50px;
    }

    .shape-fill {
        fill: $orange-1;
    }
}

header img {
    max-width: 100%;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/logo\ final.png') no-repeat center center;
    background-size: cover;
    filter: blur(25px);
    z-index: -1;
}

/****** HEADER EFA ******/

.header-efa {
    margin-bottom: 0px;

    .custom-shape-divider-top-efa-down {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: scaleY(-1);

        svg {
            position: relative;
            display: block;
            width: calc(100% + 100px);
            height: 50px;
        }

        .shape-fill {
            fill: $black-2;
        }
    }

    .header-background-efa {
        position: relative;

        .img-fluid {
            width: 100%;
            height: 800px;
        }

        .header-overlay {
            background-color: $black-5;
            height: 350px;
            width: 100%;

            .efa-text {
                position: relative;
                left: 100%;
                transform: translateX(-50%);
                margin-top: 90px;
        
                h1 {
                    text-align: center;
                    color: $white-1;
                    font-size: 40px;
                    margin-bottom: 20px;
                }
        
                p {
                    text-align: center;
                    color: $white-1;
                    font-size: 18px;
                    margin-bottom: 50px;
                }
            }
        }

        
    }

    @media (min-width: 768px) {
        .header-background-efa {
            .header-text {
                padding-top: 120px;
            }
        }
    }

    .btn-primary-efa {
        display: block;
        color: $white-1;
        margin: 0 auto;
        background-color: $orange-1;
        width: 200px;

        &:hover {
            color: $white-1;
            background-color: $brawn-1;
        }
    }

    .custom-shape-divider-top-efa {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 50px;
        }

        .shape-fill {
            fill: $black-2;
        }
    }

    
}

/****** HEADER KEF ******/

.custom-shape-divider-top-efa-down {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: scaleY(-1);

    svg {
        position: relative;
        display: block;
        width: calc(100% + 100px);
        height: 50px;
    }

    .shape-fill {
        fill: $black-2;
    }
}

.header-kef {
    background-color: $black-1;
    padding: 10px;

    .div-kef {
        width: 600px;
        margin: 0 auto;
    }

    .seccion-img {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        height: 550px;
        align-items: center;

        img {
            max-width: 600px;
            flex-grow: 1;
            object-fit: cover;
            opacity: .8;
            transition: .5s ease;
            height: 550px;

            &:hover {
                width: 600px;
                height: 600px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
    }
}
.custom-shape-divider-top-efa {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 50px;
    }

    .shape-fill {
        fill: $black-2;
    }
}

/****** HEADER SOBRE-MI ******/

.header {
    background-color:  $orange-1;
    padding: 0;
  
    .text-uppercase {
      color: $white-1;
      text-align: center;
      padding: 0 30px;
    }
  
    .header-text {
      h1 {
        font-size: 40px;
        margin-bottom: 50px;
        font-style: oblique;
      }
  
      p {
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
        margin-right: 13px;
        margin-left: 13px;
        color: $white-1;
        font-style: oblique;
      }
    }
  
    .header-image {
      position: relative;
      height: 100vh; 
      overflow: hidden;
  
      img {
        position: relative;
        width: auto;
        height: auto;
        object-fit: cover;
        filter: brightness(90%);
      }
    }
}